body {
}
#dark {
    --input-color: black;
}

#light {
    --input-color: gray;
}

.theme-switcher {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 1.9rem;
    position: fixed;
    left: 90%;
    margin-bottom: auto;
}

.theme-switcher input[type="radio"] {
    appearance: none;
    border: 2px solid var(--input-color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.theme-switcher input[type="radio"]:checked {
    background-color: var(--input-color);
}